@font-face {
  font-family: "Barbara";
  src: url("/fonts/Barbara_Derina.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.scrim {
  background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}