@font-face {
  font-family: "Barbara";
  src: url("/fonts/Barbara_Derina.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-right:
     0.7px 0.7px 1px hsl(var(--shadow-color) / 0.56),
    2.2px 2.1px 3.1px -1px hsl(var(--shadow-color) / 0.5),
    6.1px 5.9px 8.7px -2.1px hsl(var(--shadow-color) / 0.44),
    15.8px 15.2px 22.5px -3.1px hsl(var(--shadow-color) / 0.39);
  --shadow-left:
    -0.4px 0.7px 0.8px hsl(var(--shadow-color) / 0.56),
    -1.3px 2.1px 2.5px -1px hsl(var(--shadow-color) / 0.5),
    -3.6px 5.8px 7px -2.1px hsl(var(--shadow-color) / 0.44),
    -9.4px 14.9px 18.1px -3.1px hsl(var(--shadow-color) / 0.39);
}

.header-background {
  clip-path: ellipse(40% 50% at 50% 50%);
}

.scrim {
  background-image: linear-gradient(0deg, #00000088, #ffffff44 50%, transparent 100%);
}

.min-h-screen-75 {
  min-height: 75vh;
}

.header-name-ampersand {
  font-size: 8rem;
}

.store {
  @apply transform scale-100 transition-transform duration-300;
}

.store:hover {
  @apply scale-110 duration-700;
}

@media (min-width: 768px) {
  .header-name-ampersand {
    font-size: 20rem;
  }
}

.card-left {
  box-shadow: var(--shadow-left);
}

.card-right {
  box-shadow: var(--shadow-right);
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  --threshold: 30rem;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.reel {
  display: flex;
  height: 80vh;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fff #000;
}

.reel::-webkit-scrollbar {
  height: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #000;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #000;
  background-image: linear-gradient(#000 0, #000 0.25rem, #fff 0.25rem, #fff 0.75rem, #000 0.75rem);
}

.reel > * {
  flex: 0 0 auto;
}

.reel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 2rem;
}

.reel.overflowing {
  padding-bottom: 2rem;
}